html,
body {
    /*background-color: #d6f2ff;*/
    background-color: rgb(249, 248, 230);
    color: rgb(37, 37, 51);
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    /*overflow-x: hidden;*/
}
:root {
    --pad: 7em;
    --boton-width:40%;
    --boton-heigh:90%;
    --boton-line-height:0;
    --boton-padding:0px 0px;
    --boton-border:none;
    --line-boton:10%;
    --font-size-boton:1.2vw;
}
div {
    border: solid red;
    border-width: 0.1px;
    
}
.tabcontainer{
    width: 90vw;
    height: 30vw;
    overflow: auto;
    overflow-x: hidden;
}
h1 {
    justify-content: center;
    text-align: center;
    border: solid blue;
    border-width: 0.1px;
}
p {
    border: solid rgb(0, 71, 65);
    border-width: 0.1px;
    min-height: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    border: solid red;
    border-width: 0.1px;
    padding-left: var(--pad);
    padding-right: var(--pad);
}

table {
    width: 100%;
    table-layout: fixed;
}
.tbl-header {
    background-color: rgba(255, 255, 255, 0);
}
.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}
th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
    
    text-transform: uppercase;
}
tr{
    padding: 0px 0px;
    height: 0px;
}
td {
    height: 0px;
    padding: 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 110%;
    border-collapse: collapse;
    border: solid 1px rgb(0, 0, 0);
}

button {
    margin: 1px;
}

.custom-btn {
    width: 20%;
    height: 200%;
    color: #fff;
    border-radius: 5px;
    padding: 0px 0px;
    font-family: "Lato", sans-serif;
    font-weight: 700%;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* 1 */
.btn-1 {
    background: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}
.btn-1:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

/* 5 */
.btn-5 {
    width: var(--boton-width);
    height: var(--boton-heigh);
    line-height: var(--boton-line-height);
    padding: var(--boton-padding);
    font-size: var(--font-size-boton);
    border: var(--boton-border);
    background: #89d8d3;
    background: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.btn-5:hover {
    color: #37918c;
    background: transparent;
    box-shadow: none;
}
.btn-5:before,
.btn-5:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: var(--line-boton);
    width: 0;
    background: #37918c;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}
.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* 6 */
.btn-6 {
    width: var(--boton-width);
    height: var(--boton-heigh);
    line-height: var(--boton-line-height);
    padding: var(--boton-padding);
    font-size: var(--font-size-boton);
    border: var(--boton-border);
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}
.btn-6:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}
.btn-6:before,
.btn-6:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: var(--line-boton);
    width: 0;
    background: #f0094a;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}
.btn-6:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.btn-6:hover:before,
.btn-6:hover:after {
    width: 100%;
    transition: 800ms ease all;
}